<div class="container" [ngStyle]="innerStyle" #sliderContainer [style.backgroundColor]="backgroundColor"
    [style.width]="width + 'px'">
    <h2 [ngStyle]="labelStyle" [style.color]="color">{{label}}</h2>
    <div class="triangle triangle-shadow"
        [ngStyle]="{'border-right-width':round(width) + 6 + 'px', 'border-top-width':round(width * 0.1675) + 1.5 + 'px','border-right-color':color}">
        <div class="triangle-shadow-bottom" [style.backgroundColor]="color" [style.width]="round(width) + 6 + 'px'">
        </div>
    </div>
    <div class="triangle triangle-track"
        [ngStyle]="{'border-right-width':round(width) + 'px', 'border-top-width':round(width * 0.1675) + 'px','border-right-color':backgroundColor}"
        #tr (click)="sliderClick($event)" (mousedown)="mouseDown = true" (mouseup)="mouseDown = false">
        <div class="triangle triangle-scroll" [ngStyle]="styles" [style]="{'border-right-color':color}"></div>
    </div>
    <div class="thumbContainer" [ngStyle]="thumbStyles">
        <div class="thumbShadow"></div>
        <div class="thumb" [style]="{'background-color':color,'color':color}" (mousedown)="mouseDown = true"
            (mouseup)="mouseDown = false"></div>
    </div>
    <div class="separator" [ngStyle]="separatorStyle" [style.backgroundColor]="backgroundColor"
        *ngFor="let sep of separators" [style.marginLeft]="sep.location + 'px'"></div>
</div>